/*-----[Début mise en forme]-----*/

/*Bien placer l'footer*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /*Occupe L'espace restant afin de placer l'footer en bas de page*/
}

/*Body Style*/

body {
    font-family: Verdana;
    background-color: #0096FF;
}

/*Header Style*/

header {
    background-color: #0096FF; /*bleu*/
    text-align: center;
    color: #FFFFFF; /*blanc*/
}

/*Navigation Bar Style*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 10px 10px 0px 0px;
}

nav li {
    float: left;
    display: block;
    height: 100%;
    text-align: center;
    width: 25%;
}

nav li a {
    display: block;
    height: 100%;
    padding: 5px;
    text-decoration: none;
    color: white;
}

#active-nav-li-last-child {
    border-radius: 0px 0px 5px 5px;
    background-color: #FFAA00;
    color: #FFFFFF;
}

nav li.right {
    float: right;
}

nav .fas, nav .far {
    font-size: 20px;
}

nav .active {
    background-color: #FFAA00;
    color: #FFFFFF
}

/* dropdown effect */

.dropdown {
    background-color: black;
}

.dropdown-btn {
    width: 100%;
    margin: 0;
    border: none;
    background-color: inherit;
    color: white;
    font-weight: bold;
    font-size: 16px;
    overflow: scroll;
    cursor: pointer;
    font-family: inherit;
    height: 27px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 50%;
    z-index: 1;
    background-color: inherit;
    border-radius: 0 0 5px 5px;
}

.show , .dropdown:hover .dropdown-content {
    display: block;
}

/*sticky navbar*/ /*dropdown effect bug*/
/* 
nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
*/

main {
    background-color: #FFFFFF;
    padding: 2%;
}

main h1 {
    text-align: center;
}

/*Footer Style*/

footer {
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

/*-----[Fin mise en forme]-----*/


/*-----[Début div]-----*/

/*disclaimer style*/
.disclaimer {
    background-color: #CACACA;
    border-left: 5px solid red;
    padding: 5px 5px;
    color: #5C5C5C;
}

/*container style*/
.container {
    color: #FFFFFF;
    margin: 10px;
}

.container-header {
    background-color: #FFAA00;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}

.container h2, .container h3 {
    margin: 0;
    padding: 5px 5px;
    display: block;
}

.container-content {
    background-color: #0096FF;
    border-radius: 0px 0px 10px 10px;
}

.container ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.container li {
    display: block;
    padding: 5px 5px;
}

/*-----[Fin div]-----*/


/*-----[Début élément spéciale]-----*/

/*Progress Bar style*/
/*
.progress-bar {
    width: 100%;
    background-color: #FFAA00;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    display: block;
    height:30px;
}

.progress-bar-value {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: x-large;
    background-color: #0096FF;
    height: 100%;
    border-radius: 10px 0px 0px 10px;

}*/

progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    display: inline;
    background-color: #FFAA00;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    height: 30px;
}

progress[value]::-webkit-progress-value, progress::-moz-progress-bar {
    background-color: #0096FF;
    border-radius: 8px 0px 0px 8px;
}

.stack {
    border-radius: 10px;
    color: black;
    background-color: white;
    padding: 5px 5px;
    margin: 5px 5px;
}

/*-----[Fin élément spéciale]-----*/