/*Bien placer l'footer*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /*Occupe L'espace restant afin de placer l'footer en bas de page*/
}

/*Body Style*/

body {
    font-family: Verdana;
    background-color: #0096FF;
}

/*Header Style*/

header {
    background-color: #0096FF; /*bleu*/
    text-align: center;
    color: #FFFFFF; /*blanc*/
}

/*Navigation Bar Style*/

nav {
    background-color: #000000; /*noir*/
    overflow: hidden;
    width: 100%;
    border-radius: 5px 5px 0 0 ;
}

nav a {
    float: left;
    width: 15%;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    overflow: scroll;
}

nav a .fas, nav a .far {
    font-size: 20px;
}

nav a.right{
    float: right;
}

nav .active {
    background-color: #FFAA00;
    color: #FFFFFF;
}

/* dropdown effect */

.dropdown {
    float: left;
    overflow: hidden;
}
        
.dropdown .dropdown-btn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 5px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
        

        
.dropdown-content a {
    float: none;
    text-align: left;
    color: white;
    padding: 5px 5px;
    display: block;
    width: 35vh;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    z-index: 1;
        }
        
.dropdown-content a:hover {
    background-color: ##505050;
}
        
.show {
    display: block;
}

/*sticky navbar*/ /*dropdown effect bug*/
/* 
nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
*/

/*Main Element Style*/
main {
    background-color: #FFFFFF;
    padding: 2%;
}

table {
    width: 100%;
}

/*Progress Bar style*/

progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
}

progress[value]::-webkit-progress-bar {
    background-color: #FFAA00;
}

progress[value]::-webkit-progress-value {
    background-color: #0096FF;
}

/*Footer Style*/

footer {
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    border-radius: 0 0 5px 5px;
}
