.avatar {
    border-radius: 50%;
    width: 50%;
    border:5px solid #ffaa00;
}

.hero-text {
    text-align: center;
}

.hero-img {
    background-image:url('../images/img_notebook.jpg');
    margin: 0;
    padding: 0;
}